.nav{
  position: fixed;  
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  transition-timing-function:ease-in ;
  transition: all 0.5s;
}

.logo{
    width: 180px;
}

.sign{
    margin-top: 20px;
}


.nav_black{
    background-color: black;
}